<div class="container"
     fxLayout
     fxLayoutAlign="center"
     fxLayoutGap="10px"
>
  <div class="item item-1">
    <img [src]="mission.links.mission_patch_small">
  </div>
  <div class="item item-2">
    <h2>Mission - {{ mission.mission_name }}</h2>
    <p>Name - {{ mission.mission_name }}</p>
    <p>Launch Year - {{ mission.launch_year }}</p>
    <h2>Rocket</h2>
    <p>Name - {{ mission.rocket.rocket_name }}</p>
    <p>Type - {{ mission.rocket.rocket_type }}</p>
    <h2>Launch Site</h2>
    <p>Name - {{ mission.launch_site.site_name_long }}</p>

  </div>
</div>

<div class="container"
     fxLayout
     fxLayoutAlign="center"
     fxLayoutGap="10px"
>
  <div class="item item-4">
    <h2>Launch Details</h2>
    <p>{{ mission.details }}</p>
    <h2>More Info on Launch Details</h2>
    <a [href]="mission.links.article_link" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Reddit">assignment</mat-icon>
    </a>
    <a [href]="mission.links.wikipedia" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Video">rss_feed</mat-icon>
    </a>
    <a [href]="mission.links.video_link" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Video">camera</mat-icon>
    </a>
    <button mat-button [routerLink]="['/']">Go back</button>
  </div>
</div>

